[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SomaDataIO"]
	path = SomaDataIO
	url = https://github.com/somalogic/somadataio
